body {
  background-color: #fff6ef;
  font-family: "Gothic A1", serif;
}

/* section */
section {
  width: 100%;
}

/* 
color
e66501

f4eae1

fce2d1
fff6ef
f5dac5

글씨 font
#33302D
#989594
*/

/* header */
#header {
  width: 100%;
  position: relative;
  background-color: #e66501;
  display: flex;
  justify-content: center;
}

#header > .header-wrap {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.header-wrap > h1 > a {
  color: #fff;
  font-size: 2.25rem;
}

.header-wrap > a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80px;
  height: 38px;
  border: 2px solid #fff;
  border-radius: 6px;
  transition: all 0.1s linear;
  font-weight: 700;
}

.header-wrap > a:hover {
  background-color: #fff;
  color: #e66501;
}

nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nav > ul {
  display: flex;
  justify-content: center;
  gap: 0 1.5rem;
}

nav a {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}

/* main */
/* #main {
  height: max-content;
 */
/* } */

.main-wrap {
  background: rgba(230, 101, 1, 0.3);
  position: relative;
  height: 640px;
  z-index: 1;
}

.main-wrap > .main-text {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-text > h2 {
  position: relative;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 16px;
}

.main-text > h2 > span {
  display: inline-block;
  width: max-content;
  position: relative;
}

.main-text > p {
  font-size: 1.5rem;
}

#main > .main-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#main > .main-img > img {
  width: 110%;
  opacity: 0.7;
  position: relative;
  top: -5rem;
  right: 4rem;
}

/* about me */
.aboutMe-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem 0;
  padding: 7rem 0;
}

.aboutMe-wrap h2 {
  font-size: 3rem;
  text-align: center;
  color: #e66501;
}

.aboutMe-content {
  /* width: 1024px; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 1000px;
  padding: 2rem 0;
  /* background: #fff; */
}

.aboutMe-content > .profile-img {
  width: 200px;
  height: 240px;
  background-color: #fff;
  border-radius: 16px 16px 0 16px;
  overflow: hidden;
  box-shadow: 1px 3px 6px;
}

.aboutMe-content > .profile-img > img {
  width: 100%;
}

.aboutMe-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem 0;
  width: 436px;
  padding: 1.75rem 0;
  padding-left: 2rem;
  background: #33302d;
  border-radius: 16px;
  box-shadow: 1px 3px 6px;
}

.aboutMe-ul > li {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.aboutMe-ul > li > .aboutMe-img {
  width: 32px;
  height: 32px;
}

.aboutMe-img > img {
  width: 100%;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(287deg)
    brightness(113%) contrast(102%);
}

.aboutMe-ul > li > b {
  font-size: 1.25rem;
  color: #fff;
}
/* mySkills */
#mySkills {
  display: flex;
  justify-content: center;
  padding: 7rem 0;
  background-color: #f2d3b6;
}

.mySkills-wrap {
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 5rem 0;
}

.mySkills-wrap > h2 {
  text-align: center;
  font-size: 3rem;
  color: #e66501;
}

.mySkills-wrap > .mySkills-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.mySkills-wrap > .mySkills-ul > li {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.mySkills-ul > li > .skill-img {
  width: 72px;
  height: 72px;
  border: 2px dotted #e7b48e;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.skill-img > img {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: invert(53%) sepia(55%) saturate(6892%) hue-rotate(12deg)
    brightness(101%) contrast(99%);
}

.skill-desc {
  width: 300px;
}

.skill-desc > h3 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  color: #33302d;
}

.skill-desc > p {
  font-size: 1rem;
  padding-bottom: 0.25rem;
  color: #8b7666;
  /* font-weight: 700; */
}

/* project */
#project {
  background: #fff3eb;
}

#project > .project-wrap {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem 0;
}

#project > .project-wrap > h2 {
  font-size: 3rem;
  color: #e66501;
  text-align: center;
  font-weight: 700;
}

.project-wrap > .project_ul {
  width: 62rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem 0;
  margin: 0 auto;
}

.project-wrap > .project_ul > li {
  width: 100%;
  border: 2px solid #ccc;
  border-top: 8px solid #e66501;
  /* background: #fff; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 30px;
  box-shadow: 3px 2px 8px;
  gap: 0 2.5rem;
}

.project_ul > li > .project_desc {
  width: 40rem;
}

.project_desc > h3 {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #e66501;
  border-radius: 15px;
  padding: 1rem;
}

.project_desc > .duration {
  font-size: 14px;
  color: #8b7666;
  padding: 10px 10px 10px;
}
.role {
  padding: 10px 0;
  margin-left: 10px;
  /* border-top: 2px solid #ccc; */
}

.role > h4 {
  color: #33302d;
  font-size: 20px;
  padding-bottom: 4px;
}

.role > p {
  padding: 0.25rem 0;
}

.project_desc > a {
  display: flex;
  color: #121212;
  margin: 10px 10px 24px;
}

.project_desc > a > span {
  display: inline-block;
  width: 4px;
  height: 24px;
  background: #121212;
}

.project_desc > .stack {
  width: max-content;
  background: #33302d;
  color: #fff;
  padding: 8px;
  font-size: 0.75rem;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: 700;
}

.project_img {
  width: 288px;
  height: 360px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid #33302d;
  background-color: #fff;
}
.project_img > img {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* footer */
#footer {
  width: 100%;
}

#footer {
  text-align: center;
  background: #33302d;
  color: #848483;
  padding: 1.75rem 0;
}
